.log-Container{
    max-width: fit-content;
    height: 710px;
    margin: auto;
    display: grid;
    grid-template-columns: 390px 370px;
    column-gap: 1rem;
    background: #fff9f963;
    box-shadow: 0px 1px 4px rgba(37, 36, 36, .2);
    outline: 1px solid rgba(37, 36, 36, .2);
    overflow: hidden;
    input{
        border: none;
        outline: 1px solid rgba(37, 36, 36, .2);
        display: block;
        width: 100%;
        padding: .825rem;
        font-family: 'Bungee', sans-serif;
        font-size: .825rem;
        &::placeholder{
            text-transform: capitalize;
            font-weight: 700;
            font-size: .725rem;
            opacity: .2; 
        }
        &:focus{
            outline: 1px solid rgba(37, 36, 36, 1);
        }
    }
}

.log-Container .onBoarding{
    height: 100%;
}

.log-Container .logForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.1rem;
    padding: .8rem;
    // button :
    button{
        width: 100%;
        padding: .825rem;
        outline: none;
        border: none;
        text-align: center;
        text-transform: capitalize;
        font-weight: 700;
        font-size: .725rem;
        color: #333;
        font-family: 'Bungee', sans-serif;
        color: hsl(94, 88%, 10%);
        background: hsl(94, 18%, 70%);
        cursor: pointer;
    }
}

.log-Container h1{
    color: #284640;
    font-size: 1.5rem;
}

.log-Container span{
    font-size: .825rem;
    color: #284640;
}